// _variables.scss
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

$primary-terra:#EAC195;
$primary-100: #F2F3FF;
$primary-200: #C4CCFF;
$primary-300: #96A9FD;
$primary-400: #668AFA;
$primary-500: #3870F2;
$primary-600: #1653BF;
$primary-700: #083F8C;
$primary-800: #032C59;
$primary-900: #011526;

// Accent Colors
$accent-100: #F9FFF2;
$accent-200: #E4FFB9;
$accent-300: #D4FB7E;
$accent-400: #C6F343;
$accent-500: #B8E30B;
$accent-600: #9BB404;
$accent-700: #7A8501;
$accent-800: #535500;
$accent-900: #262500;

// Neutral Colors
$neutral-100: #FAFAFC;
$neutral-200: #ECEDF0;
$neutral-300: #DEDFE3;
$neutral-400: #D1D2D6;
$neutral-500: #C3C5C9;
$neutral-600: #999CA1;
$neutral-700: #707478;
$neutral-800: #494C4F;
$neutral-900: #222526;

.list-style-default{
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}


