.button__cart {
  min-width: 100%;
  font-size: 14px;
  padding: 0.4rem 0.2rem;
  margin-bottom: 0.4rem;
  background-color: $primary-600;
  border: 2px solid $primary-900;
  border-radius: 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  span {
    display: flex;
    align-items: center;
  }
}