@import 'variables';

.carousel__container {
  min-width: 100%;
  height: 100%;
  place-content: center;
  display: flex;
  place-content: center;
  background-color: $neutral-500;
  padding: 3rem 0;

  .carousel {
    position: relative;
    width: 100%;
    max-height: max-content;
    background-color: rgb(242, 243, 255);
    height: 320px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    &__item {
      position: absolute;
      width: 100%;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      height: 100%;

      &.active {
        position: relative;
        opacity: 1;
      }
    }

    &__img--container {
      height: 100%;
      display: flex;
      place-content: center;

      img {
        height: 100%;
      }
    }

    .caption {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba($neutral-900, 0.9);
      text-align: center;
      min-width: 33.3%;
      border-radius: 8px 6px;
      margin-bottom: 1rem;
      padding: 0 8px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

      h3 {
        margin: 0.2rem;
        font-size: 14px;
        color: $accent-500;
        text-transform: uppercase;
        opacity: 1;
        padding: 0;
      }
    }

    &__control--anterior,
    &__control--siguiente {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: $primary-900;
      border: none;
      color: $primary-100;
      cursor: pointer;
      border-radius: 8px;
      font-size: 32px;
      padding-bottom: 5px;
    }


    &__control--anterior:hover,
    &__control--siguiente:hover {
      color: $accent-500;
    }

    &__control--anterior {
      left: 10px;
      padding-right: 8px;
    }

    &__control--siguiente {
      right: 10px;
      padding-left: 8px;

    }

    &__indicadores {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 5px;
    }

    .indicador {
      width: 10px;
      height: 10px;
      background-color: $accent-900;
      border-radius: 50%;
      border: $accent-900 1px solid;
      cursor: pointer;

      &.active {
        background-color: $accent-500;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .carousel__container {
    .carousel {
      height: 400px;
    }
  }
}

@include media-breakpoint-up(md) {
  .carousel__container {
    .carousel {
      max-width: 90%;

      &__control--anterior {
        left: 20px;
      }

      &__control--siguiente {
        right: 20px;
      }
    }
  }
}


@include media-breakpoint-up(xl) {
  .carousel__container {
    padding: 6.4rem 0;

    .carousel {
      height: 425px;
    }
  }
}