@import 'variables';

.landing__container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: absolute;

  .landing {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;

    &__title {
      margin: 0;
      font-size: 25px;
      padding: 2rem 0 1rem;
      color: #FAFAFC;
      text-align: left;
      font-family: "Poppins", "Noto Sans";
      font-weight: 600;
      line-height: 42px;
      max-width: 256px;

      span {
        color: $primary-terra;
      }
    }

    &__card {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &--wrapper {
        width: 84%;
        border-radius: 20px;
        background-color: rgba(#536D88, 0.5);
        color: $neutral-100;
        position: relative;
        height: 180px;
        margin-top: 32px;
      }

      &--oferta {
        font-size: 12px;
        color: $primary-terra;
        font-weight: 600;
        text-align: right;
        margin-right: 1.2rem;
      }

      &--thumbnail {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .thumbnail {
          max-width: 100%;
          height: 150px;
          position: absolute;
          top: -64px;
          filter: drop-shadow(1px 4px rgba(black, 0.2));
          z-index: 2;
        }

        .shadow {
          position: absolute;
          width: 90px;
          height: 16px;
          background-color: rgba($color: #000000, $alpha: 0.8);
          filter: blur(2px);
          border-radius: 50%;
          transform: skew();
          top: 76px;
        }
      }

      &--name {
        font-size: 18px;
        margin-bottom: 0;
        font-weight: 700;
        margin-top: 3.4rem;
      }

      &--price {
        color: $primary-terra;
        font-weight: 600;
        font-size: 18px;
      }
    }
  }

  @media (min-width: 425px) {
    .landing {
      &__title {
        margin: 0;
        color: #FAFAFC;
        text-align: left;
        font-family: "Poppins", "Noto Sans";
        font-weight: 700;
        line-height: 42px;
        max-width: 440px;
        margin: 0 4rem;
      }

      &__card {
        &--wrapper {
          height: 200px;
          margin-bottom: 1rem;
        }

        &--thumbnail {
          .thumbnail {
            height: 155px;
            top: -69px;
          }
        }

        &--name {
          font-size: 20px;
          margin-top: 4.5rem;
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {

    .landing {
      &__title {
        font-size: 32px;
        padding-bottom: 0;
        margin-bottom: 3rem;
      }

      &__card {
        &--name {
          font-size: 24px;
          margin-top: 3rem;
        }

        &--price {
          font-size: 24px;
          margin: 1rem;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .landing {
      gap: 0;
      &__title {
        font-size: 32px;
        line-height: 60px;
        min-width: 70%;
        margin-bottom: 0;
      }

      &__card {
        &--name {
          font-size: 28px;
          margin-top: 3rem;
        }

        &--price {
          font-size: 28px;
          margin: 1rem;
        }
      }
    }
  }
}