.landing {
    font-family: "Poppins";
    min-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: space-between;
    font-size: 14px;
    overflow: hidden;
    height: calc(100svh - 100px);
    height: -webkit-fill-avaiable;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        background-size: cover;
        z-index: -1;
        background-image: url("../assets/images/main-photo-1.jpg");
        background-size: cover;
        /* Coloca la imagen detrás del contenido */
    }

    &__title {
        width: 100%;
        text-align: center;
        color: #B8E30B;
        font-family: "Oswald";
        background-color: black;
        font-size: 22px;
        font-weight: 900;
        margin: 0 0 2.4rem 0;
        padding: 1rem 0;
        text-transform: uppercase;
    }

    .landing__wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        /* Permite que crezca para ocupar el espacio disponible */
        justify-content: space-between;
        /* Asegura que los elementos se distribuyan */
        align-items: center;
        /* Centra horizontalmente (opcional) */
    }

    .landing__button {
        cursor: pointer;
        margin-bottom: 2rem;
        margin-top: auto;
        /* Empuja el botón hacia el final del contenedor */
    }

}

/* @include media-breakpoint-up(xl){
    .landing{
        .landing__wrapper{
            margin-top: 3rem;
        }
    }
} */