.navbar {
  width: 100%;
  top: 0;
  display: flex;
  height: 100px;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0 15px;
  background-color: #28292B;
  background-color: $primary-800;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  /* Para asegurar que el navbar esté encima del menú */

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__brand {
    text-decoration: none;
    padding: 0 24px;
    width: 100%;

    &--container {
      text-decoration: none;
      padding: 0 8px;
      width: max-content;
    }

    &--h5 {
      line-height: 19px;
      margin: 0;
      text-align: left;
      line-height: 1;
      text-transform: uppercase;
      font-size: 24px;
      color: $primary-100;
      transition: 0.3s ease;
      line-height: 36px;
    }

    &--container:hover h5 {
      color: #EAC195;
    }
  }

  &__cart {
    display: flex;
    justify-content: space-between;
    margin-right: 0.5rem;

    a,
    button {
      transition: 0.3s ease;
      height: 38px;
    }

    a:hover, button:hover {
      color: $accent-500;
      border-bottom: 2px solid rebeccapurple;
    }
  }

  &__burger {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;

    &.is-active {
      transition: 1s ease all;
    }
  }

  &__menu {
    position: fixed;
    top: 100px;
    /* Para que esté justo debajo del navbar */
    right: 0;
    height: calc(100% - 100px);
    /* Para que ocupe el 100% de la altura del documento menos la altura del navbar */
    width: 40%;
    background: $primary-900;
    transition: 1s ease;
    transform: translateX(100%);
    border-left: 2px solid $neutral-500;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 999;


    &.is-active {
      padding: 0;
      transition: 0.8s ease-in-out all;
      margin: 0;
      transform: translateX(0);
    }

    &--list {
      list-style: none;
      text-align: center;
      padding: 8px;
      width: 100%;
    }

    &--item {
      padding: 8px 16px;
    }

    &--item>a {
      list-style: none;
      text-decoration: none;
      font-size: 1rem;
      text-align: left;
      display: block;
      color: $neutral-100;
    }

    &--item>a:hover {
      color: $accent-500;
      transition: 0.2s ease all;
    }

  }

  @-webkit-keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
    }

    1% {
      display: block;
      opacity: 0;
    }

    100% {
      display: block;
      opacity: 1;
    }
  }

  @-moz-keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
    }

    1% {
      display: block;
      opacity: 0;
    }

    100% {
      display: block;
      opacity: 1;
    }
  }

  @-o-keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
    }

    1% {
      display: block;
      opacity: 0;
    }

    100% {
      display: block;
      opacity: 1;
    }
  }

  @keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
    }

    50% {
      display: block;
      opacity: 0;
    }

    70% {
      display: block;
      opacity: 0;
    }

    100% {
      display: block;
      opacity: 1;
    }
  }


  @include media-breakpoint-up(sm) {
    .navbar {

      &__menu {
        width: 24%;
      }

      &__cart {
        margin-left: 0.5rem;

        a {
          font-size: 18px;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .navbar {
      &__menu {
        width: 16%;
      }
    }
  }

}