.products {
  min-width: 100%;
  height: 100%;
  text-align: center;

  &__title {
    text-transform: uppercase;
    background-color: $primary-700;
    color: #FFF;
    font-size: 28px;
    padding: 1rem 0;
    margin: 0 0 2rem 0;
  }

  &__container {
    display: flex;
    max-width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    list-style: none;
    text-align: center;
    padding: 0 2rem 0 1rem;
    gap: 1.6rem;
    overflow-x: scroll;
    scrollbar-width: none;
    cursor: grab;

    .container::-webkit-scrollbar {
      display: none;
    }

    .product:first-child {
      margin-left: 1.6rem;
    }

    .product {
      min-width: 220px;
      min-height: 320px;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      padding: 2rem 1rem;
      margin: 2rem 0;
      border-radius: 16px;
      border: 1px solid $primary-200;
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
      user-select: none;

      &__thumbnail {
        width: 200px;
        min-height: 130px;
        max-height: 130px;
        object-fit: contain;
        pointer-events: none;
      }

      &__title {
        font-size: 20px;
        padding: 0;
        margin: 0;
        margin-top: 1.6rem;
        text-transform: uppercase;
        font-weight: 700;
        min-height: 60px;
        place-content: center;
        user-select: none;
      }


      &__description {
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        margin: 0;
        margin: 0.8rem 0 0 0;
      }

      &__price {
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

}